<app-left-navbar></app-left-navbar>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">Nitish
        <span class="text-primary">Nadkarni</span>
      </h1>
      <div class="subheading mb-5">Watertown, MA 02472 · (609) 954-4977 ·
        <a href="mailto:nitish21390@gmail.com">nitish21390@gmail.com</a>
      </div>
      <p class="lead mb-5">I write code. Ex-SAP | Ex-Wayfair | Ex-NetApp.  I have a simple motto. Keep learning!</p>
      <div class="social-icons">
        <a href="http://linkedin.com/in/nitishnadkarni">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/nitish21/">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Senior Software Engineer - Core Systems Team</h3>
          <div class="subheading mb-1">Navihealth</div>
          <p class="mb-3">(NodeJS, Express, Angular 7, HTML, Typescript, JavaScript, Java, Spring, Docker)</p>
          <ul class="list-padding">
            <li>Designed and created the User Interface for the document upload system in Angular for hospitals</li> 
            <li>Created Rest APIs in NodeJS and Express for the patient search functionality </li>
            <li>Set up the Docker containers, Helm charts and Kubernetes cluster for the nhPrint service </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">June 2019 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Senior Software Engineer - Recommendation Systems</h3>
          <div class="subheading mb-1">Wayfair</div>
          <p class="mb-3">(Python, Flask, SOLR, Lucene, Redis, SQL, Git)</p>
          <ul class="list-padding">
            <li>Developed recommendation strategy for Wayfair UK so that personalized products can be viewed on browse pages</li> 
            <li>Designed and implemented Caching and Pagination logic for the Default Solr strategy on browse pages </li>
            <li>Implemented the Learning Framework strategy so that products can be placed on specific locations on browse pages</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">June 2018 - June 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineer - Events Platform</h3>
          <div class="subheading mb-1">Wayfair</div>
          <p class="mb-3">(Java, PHP, SQL, TungstenJS, JavaScript, HTML5, CSS)</p>
          <ul class="list-padding">
            <li>Architected and built a scalable Event Planning tool to that it can support unlimited number of products</li> 
            <li>Designed an inventory distribution logic to distribute inventory of products across child-level warehouses of supplier</li>
            <li>Scoped, designed and implemented ‘Agility in Event Planning’ to enable products to be added even to a live event </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">July 2016 - June 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineering Intern</h3>
          <div class="subheading mb-1">NetApp</div>
          <p class="mb-3">(Java, Spring, Maven, Python, UNIX)</p>
          <ul class="list-padding">
            <li>As part of OPM 3.0 release, integrated OPM with Headroom Engine which is used to predict the available performance capacity in NetApp storage devices</li>
            <li>Proposed and designed an efficient solution to cache data from OPM rather than querying database each time resulting in improvement of performance by about 30 percent</li>
            <li>Developed an end-to-end tool to gather test data from various sources and validate the Headroom algorithms</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2015 - December 2015</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Developer Associate</h3>
          <div class="subheading mb-3">SAP Labs India</div>
          <ul class="list-padding">
            <li class="mb-3"><p class="mb-2 font-weight-bold">Stock Market Prediction (Java)</p>Researched and implemented an algorithm to mine through 25+ years of stock data to find the closest match for any given stock pattern. Project resulted in improved accuracy in predicting stock market movements</li>
            <li class="mb-3"><p class="mb-2 font-weight-bold">SAP Mobile Platform (SMP) – HANA Cloud (Java, HTML, CSS, JavaScript, JSON, XSJS, XML)</p>
              <ul class="list-padding">
                <li class="mb-1">Proposed and collaborated on a Proof-of-Concept to migrate SMP on SAP HANA leading to a new SAP product</li>
                <li class="mb-1">Designed and implemented the Windows 8 and Windows Phone 8 push notification components of the product </li>
              </ul>
            </li>
            <li class="mb-3"><p class="font-weight-bold">Data Orchestration Engine (ABAP, C#)</p>Designed and implemented an efficient solution to prudently clear more than 1 million redundant objects from a single table in the master server without affecting any critical data objects</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2015 - December 2015</span>
        </div>
      </div>

    </div>

  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Northeastern University</h3>
          <div class="subheading mb-3">Master of Science</div>
          <div>Computer Science</div>
          <p>GPA: 3.83</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">September 2014 - June 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">University of Mumbai</h3>
          <div class="subheading mb-3">Bachelor of Engineering</div>
          <div>Computer Engineering</div>
          <p>GPA: 3.7</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2007 - May 2011</span>
        </div>
      </div>

    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item row mb-1">
          <div class="col-3 font-italic">Programming Languages:</div>
          <div class="col-9 font-italic">Java, Python, JavaScript, Typescript, PHP, C#, C++, SQL, ABAP</div>
        </li>
        <li class="list-inline-item row mb-1">
          <div class="col-3 font-italic">Backend Technologies:</div>
          <div class="col-9 font-italic">Spring, Hibernate, NodeJS, ExpressJS, Servlets, JDBC, Hadoop, MapReduce, Hive, Pig, AWS</div>
        </li>
        <li class="list-inline-item row mb-1">
          <div class="col-3 font-italic">Data Technologies:</div>
          <div class="col-9 font-italic">SOLR, Redis, Lucene, SQL Server, MySQL, Hive, HDFS, Oracle, MongoDB, MAX DB, SAP HANA</div>
        </li>
        <li class="list-inline-item row mb-1">
          <div class="col-3 font-italic">Web Technologies:</div>
          <div class="col-9 font-italic">HTML5, CSS, JavaScript, AngularJS, TungstenJS, MEAN Stack, jQuery, AJAX, SAPUI5, XML, JSON</div>
        </li>
      </ul>

      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Functional Teams</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agile Development &amp; Scrum</li>
      </ul>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
      <h2 class="mb-5">Interests</h2>
      <p>Apart from being a software developer, I enjoy most of my time being with my family. I love swimming, cooking and long walks with my wife. I love music and play the guitar regularly. I am currently learning a new musical instrument called the Ukelele.</p>
    </div>
  </section>

  <hr class="m-0">

</div>