<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Nitish Nadkarni</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/images/profile.jpg" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">Nitish
        <span class="text-primary">Nadkarni</span>
      </h1>
      <div class="subheading mb-5">Watertown, MA 02472 · (609) 954-4977 ·
        <a href="mailto:nitish21390@gmail.com">nitish21390@gmail.com</a>
      </div>
      <p class="lead mb-5">I write code. Ex-SAP | Ex-Wayfair | Ex-NetApp.  I have a simple motto. Keep learning!</p>
      <div class="social-icons">
        <a href="http://linkedin.com/in/nitishnadkarni">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/nitish21/">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Senior Software Engineer - Core Systems Team</h3>
          <div class="subheading mb-1">Navihealth</div>
          <p class="mb-3">(NodeJS, Express, Angular 7, HTML, Typescript, JavaScript, Java, Spring, Docker)</p>
          <ul class="list-padding">
            <li>Designed and created the User Interface for the document upload system in Angular for hospitals</li> 
            <li>Created Rest APIs in NodeJS and Express for the patient search functionality </li>
            <li>Implemented the Apple Push Notification service for the product Outbound Messaging Engine</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">June 2019 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Senior Software Engineer - Recommendation Systems</h3>
          <div class="subheading mb-1">Wayfair</div>
          <p class="mb-3">(Python, Flask, SOLR, Lucene, Redis, SQL, Git)</p>
          <ul class="list-padding">
            <li>Developed recommendation strategy for Wayfair UK so that personalized products can be viewed on browse pages</li> 
            <li>Designed and implemented Caching and Pagination logic for the Default Solr strategy on browse pages </li>
            <li>Implemented the Learning Framework strategy so that products can be placed on specific locations on browse pages</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">June 2018 - June 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineer - Events Platform</h3>
          <div class="subheading mb-1">Wayfair</div>
          <p class="mb-3">(Java, PHP, SQL, TungstenJS, JavaScript, HTML5, CSS)</p>
          <ul class="list-padding">
            <li>Architected and built a scalable Event Planning tool to that it can support unlimited number of products</li> 
            <li>Designed an inventory distribution logic to distribute inventory of products across child-level warehouses of supplier</li>
            <li>Scoped, designed and implemented ‘Agility in Event Planning’ to enable products to be added even to a live event </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">July 2016 - June 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineering Intern</h3>
          <div class="subheading mb-1">NetApp</div>
          <p class="mb-3">(Java, Spring, Maven, Python, UNIX)</p>
          <ul class="list-padding">
            <li>As part of OPM 3.0 release, integrated OPM with Headroom Engine which is used to predict the available performance capacity in NetApp storage devices</li>
            <li>Proposed and designed an efficient solution to cache data from OPM rather than querying database each time resulting in improvement of performance by about 30 percent</li>
            <li>Developed an end-to-end tool to gather test data from various sources and validate the Headroom algorithms</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2015 - December 2015</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Developer Associate</h3>
          <div class="subheading mb-3">SAP Labs India</div>
          <ul class="list-padding">
            <li class="mb-3"><p class="mb-2 font-weight-bold">Stock Market Prediction (Java)</p>Researched and implemented an algorithm to mine through 25+ years of stock data to find the closest match for any given stock pattern. Project resulted in improved accuracy in predicting stock market movements</li>
            <li class="mb-3"><p class="mb-2 font-weight-bold">SAP Mobile Platform (SMP) – HANA Cloud (Java, HTML, CSS, JavaScript, JSON, XSJS, XML)</p>
              <ul class="list-padding">
                <li class="mb-1">Proposed and collaborated on a Proof-of-Concept to migrate SMP on SAP HANA leading to a new SAP product</li>
                <li class="mb-1">Designed and implemented the Windows 8 and Windows Phone 8 push notification components of the product </li>
              </ul>
            </li>
            <li class="mb-3"><p class="mb-2 font-weight-bold">Data Orchestration Engine (ABAP, C#)</p>Designed and implemented an efficient solution to prudently clear more than 1 million redundant objects from a single table in the master server without affecting any critical data objects</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2015 - December 2015</span>
        </div>
      </div>

    </div>

  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Northeastern University</h3>
          <div class="subheading mb-3">Master of Science</div>
          <div>Computer Science</div>
          <p>GPA: 3.83</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">September 2014 - June 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">University of Mumbai</h3>
          <div class="subheading mb-3">Bachelor of Engineering</div>
          <div>Computer Engineering</div>
          <p>GPA: 3.7</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2007 - May 2011</span>
        </div>
      </div>

    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item">
          <i class="fab fa-html5"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-css3-alt"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-js-square"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-angular"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-react"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-sass"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-less"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-wordpress"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-gulp"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-grunt"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-npm"></i>
        </li>
      </ul>

      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Mobile-First, Responsive Design</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Browser Testing &amp; Debugging</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Functional Teams</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agile Development &amp; Scrum</li>
      </ul>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
      <h2 class="mb-5">Interests</h2>
      <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
      <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Google Analytics Certified Developer</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Mobile Web Specialist - Google Certification</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          2<sup>nd</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Place - James Buchanan High School - Hackathon 2006</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          3<sup>rd</sup>
          Place - James Buchanan High School - Hackathon 2005</li>
      </ul>
    </div>
  </section>

</div>